.app-container{
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh;
}
.footer{
    position: sticky;
    bottom: 0;
    width: 100%;
}
.navBar{
    position: sticky;
    top: 0;
    width: 100%;
}